@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: thin;
    scrollbar-color: #4f46e5 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #14b8a6;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #4f46e5;
    border-radius: 14px;
    border: 3px solid #ffffff;
}

/* @media only screen and (min-width: 1200px) {
    .wrapperIfreme {
        left: 18rem;
    }
} */

@media only screen and (min-width: 900px) {
    .wrapperIfreme {
        left: 12rem;
    }
}

@media only screen and (max-width: 899px) {
    .wrapperIfreme {
        left: 6rem;
    }
}


.wrapperIfreme {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.wrapperIfreme iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    border: solid 10px #111827;
    border-radius: 6px;
}

.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}

.frac>span {
    display: block;
    padding: 0.1em;
}

.frac span.bottom {
    border-top: solid black;
}

.frac span.symbol {
    display: none;
}

body {
    overflow: hidden;
}